<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="css/style.css">

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>

  <title>Vue Slider</title>
</head>

<body>

  <section class="container _pt-main" id="root">
    <div class="row">

      <!-- Hero -->
      <div class="col-10 p-0 bg-primary _container-hero">

        <div class="_image-container" v-bind:class="i === currentActiveImage ? `_active` : ``"
          v-for="image, i in imageList">

          <img v-bind:src="image.url" v-bind:alt="`img-` + (i + 1)">

          <div class="_text-container">
            <h3 class="_title">{{image.title}}</h3>
            <p class="_text">{{image.text}}</p>
          </div>
        </div>


      </div>

      <!-- Sidebar -->
      <div class="col-2 position-relative p-0 bg-success _sidebar-container">

        <img v-for="image, i in imageList"
             v-bind:class="i === currentActiveImage ? `_active-preview` : ``"
             v-bind:src="image.url"
             v-bind:alt="`img-` + (i + 1)">

        <!-- Arrow -->
        <i class="fas fa-chevron-up _arrow _arrow-up" @click="arrowUp"></i>
        <i class="fas fa-chevron-down _arrow _arrow-down" @click="arrowDown"></i>


      </div>

    </div>
  </section>




  <script src="js/script.js"></script>
</body>

</html>